{ "env":
  { "node": true
  }
, "rules":
  { "no-extra-parens": 2
  , "block-scoped-var": 2
  , "guard-for-in": 2
  , "default-case": 2
  , "no-div-regex": 2
  , "no-else-return": 2
  , "no-eq-null": 2
  , "no-floating-decimal": 2
  , "no-process-env": 2
  , "no-self-compare": 2
  , "no-void": 2
  , "radix": 2
  , "vars-on-top": 2
  , "wrap-iife": 2
  , "no-catch-shadow": 2
  , "no-restricted-modules": 2
  , "no-path-concat": 0
  , "no-process-exit": 0
  , "brace-style": 2
  , "camelcase": 0
  , "comma-style": 2
  , "consistent-this": 0
  , "eol-last": 2
  , "func-style": [ 2, "declaration" ]
  , "no-lonely-if": 2
  , "one-var": 2
  , "quotes": [ 2, "double", "avoid-escape" ]
  , "sort-vars": 2
  , "space-after-keywords": 2
  , "space-before-blocks": 2
  , "space-in-brackets": [ 2, "always", { "propertyName": false } ]
  , "space-in-parens": 2
  , "space-unary-word-ops": 2
  , "spaced-line-comment": 2
  , "max-len": [ 2, 80 ]
  , "no-bitwise": 2
  , "no-plusplus": 2
  }
}
